venv/
__pycache__/
*.pyc
*.pkl
*.log
*.bin
app/local_model/
input/
output/

# Ignore everything in input and output folders
input/*
output/*

# But don't ignore the .gitkeep files
!input/.gitkeep
!output/.gitkeep
